name: CI

on: [push, pull_request]

jobs:
  regression-test:
    name: Regression tests
    runs-on: ubuntu-latest
    container:
      image: zeptometer/satysfi-yarn-diff-pdf:latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Yarn dependencies
        run: yarn install
      - name: Install Satyrographos dependencies
        run: |
          export HOME=/root
          eval $(opam env)
          opam update
          opam pin add --verbose --yes "."
          satyrographos install -l base
      - name: Run regression tests
        run: |
          export HOME=/root
          eval $(opam env)
          yarn test --ci
